@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@font-face{
    font-family: 'Outfit';
    src: url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
}

*{
    font-family: 'Outfit', sans-serif;
}

/* desktop breakpoint*/
body{
    background-color: hsl(0, 0%, 100%);
    margin: 0;
} 

main{
    width: 85vw;
    height: 600px;
    background-color: hsl(212, 45%, 89%);
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container{
    width: 220px;
    height: auto;
    background-color: white;
    border-radius: 12px;
    padding: 14px;
    margin: auto;
    text-align: center;
}

.container h2{
    font-size: 15px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.container p{
    font-size: 13px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

img{
    width: 220px;
    height: auto;
    border-radius: 8px;
    object-fit: scale-down;
}

.shadow{
    box-shadow: 15px 15px 30px 5px #DADADA;
}

.shadow2{
    box-shadow: 7px 7px 20px 1px hsl(212, 14%, 81%);
}

.hide{
    display: none;
}

.attribution { 
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* mobile breakpoint */
@media screen and (max-width: 375px) {
    main{
        width: 100vw;
        margin: 0;
    }
    .shadow{
        box-shadow: none;
    }
}
